{% extends 'food/base.html' %}

{% block body%}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                <div class="card-title">
                    Login
                </div>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <!-- {{ form }} -->
                    <!-- Accessing each individual field of the form -->
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.name }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button class="btn-info mt-3" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

